extensions:
  health_check:
  pprof:
    endpoint: 0.0.0.0:1777

receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:55680
  prometheus:
    config:
      scrape_configs:
        - job_name: 'otel_telemetry'
          scrape_interval: 5s
          static_configs:
            - targets: ['0.0.0.0:8888']

processors:
  batch:
    timeout: 30s
  queued_retry:

exporters:
  logging:
    loglevel: debug
  awsxray:
    local_mode: true
    region: 'us-west-2'
  awsemf:
    local_mode: true
    region: 'us-west-2'


service:
  pipelines:
    traces:
      receivers: [otlp]
      exporters: [awsxray]
    metrics:
      receivers: [otlp]
      processors: [batch]
      exporters: [awsemf]

    metrics/2:
      receivers: [prometheus]
      exporters: [logging, awsemf]

  extensions: [pprof]
