# 🎉 AWS OpenTelemetry Collector __VERSION__ Change Log 🎉

AWS OpenTelemetry Collector is AWS Distro of OpenTelemetry Collector from [OpenTelemetry Collector](https://github.com/open-telemetry/opentelemetry-collector). Check out the [Getting Started](https://aws-otel.github.io/docs/introduction) documentation.

