## The source repositories and target repositories are one-to-one correspondence.
sourceRepos:
  - registry: open-telemetry/opentelemetry-operator
    name: opentelemetry-operator
    host: ghcr.io
    allowed_tags: 
      - latest
      - v0.58.0
      - v0.56.0
      - v0.54.0
      - v0.51.0
      - v0.50.0
      - v0.49.0
  - registry: kubebuilder
    name: kube-rbac-proxy
    host: gcr.io
    allowed_tags: 
      - v0.13.0
      - v0.11.0
      - v0.8.0
      - v0.5.0
  - registry: open-telemetry/opentelemetry-operator
    name: target-allocator
    host: ghcr.io
    allowed_tags:
      - latest
      - 0.1.0

targetRepos:
  - registry: public.ecr.aws/aws-observability
    name: adot-operator
  - registry: public.ecr.aws/aws-observability
    name: mirror-kube-rbac-proxy
  - registry: public.ecr.aws/aws-observability
    name: mirror-target-allocator
