extensions:
  health_check:
  pprof:
    endpoint: 0.0.0.0:1777

receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:55680

processors:
  batch:
  queued_retry:

exporters:
  logging:
    loglevel: debug
  awsxray:
  awsemf:

service:
  pipelines:
    traces:
      receivers: [otlp]
      exporters: [awsxray, logging]
    metrics:
      receivers: [otlp]
      exporters: [awsemf, logging]

  extensions: [pprof]
