# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License").
# You may not use this file except in compliance with the License.
# A copy of the License is located at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# or in the "license" file accompanying this file. This file is distributed
# on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
# express or implied. See the License for the specific language governing
# permissions and limitations under the License.

name: PR Body Validate

on:
  pull_request:
    branches:
      - main
      - licenseValidate

env:
  LICENSE_TEXT: By submitting this pull request, I confirm that my contribution is made under the terms of the Apache 2.0 license.

jobs:
    validate-pr-body:
      runs-on: ubuntu-latest
      steps:
        - name: Validade license content
          run: | 
              if grep -q ${{ env.LICENSE_TEXT }} ${{ github.event.body }}; then 
                echo "License text found in PR body"
              else
                echo "License text not found in PR Body, refer to PR template" && exit 1

