# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License").
# You may not use this file except in compliance with the License.
# A copy of the License is located at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# or in the "license" file accompanying this file. This file is distributed
# on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
# express or implied. See the License for the specific language governing
# permissions and limitations under the License.

name: PR Build

on:
  pull_request:
    branches:
      - main
      - release/v*
      - dev
      - test/*

env:
  IMAGE_NAME: aws-otel-collector
  PACKAGING_ROOT: build/packages 

concurrency:
  group: pr-build-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  changes:
    runs-on: ubuntu-latest
    outputs:
      changed: ${{ steps.filter.outputs.changed }}
    steps:
      - uses: actions/checkout@v2
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          list-files: shell
          filters: .github/config/file-filters.yml

      - name: List all updated files
        run: |
          for file in ${{ steps.filter.outputs.all_files }}; do
            echo "$file"
          done

      - name: Check if this is a version bump PR
        if: steps.filter.outputs.version == 'true'
        run: echo "This is a version bump PR!"

  build:
    runs-on: ubuntu-latest
    needs: changes
    steps:
    # Set up building environment, patch the dev repo code on dispatch events.  
    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      if: ${{ needs.changes.outputs.changed == 'true' }}
      with:
        go-version: 1.17


    - uses: actions/checkout@v2
      if: ${{ needs.changes.outputs.changed == 'true' }}

    - name: Cache Build
      uses: actions/cache@v2
      if: ${{ needs.changes.outputs.changed == 'true' }}
      with:
        path: |
          ~/go/pkg/mod
          ~/.cache/go-build
        key: v1-go-pkg-mod-${{ runner.os }}-${{ hashFiles('**/go.sum') }}


    # Unit Test and attach test coverage badge
    - name: Unit Test
      if: ${{ needs.changes.outputs.changed == 'true' }}
      run: make test


    - name: Upload Coverage report to CodeCov
      uses: codecov/codecov-action@v2
      if: ${{ needs.changes.outputs.changed == 'true' }}
      with:
        file: ./coverage.txt


    # Build and archive binaries into cache.
    - name: Build Binaries
      if: ${{ needs.changes.outputs.changed == 'true' }}
      run: make build


    - name: Cache binaries
      uses: actions/cache@v2
      if: ${{ needs.changes.outputs.changed == 'true' }}
      with:
        key: "cached_binaries_${{ github.run_id }}"
        path: build


    # upload the binaries to artifact as well because cache@v2 hasn't support windows
    - name: Upload
      uses: actions/upload-artifact@v2
      if: ${{ needs.changes.outputs.changed == 'true' }}
      with:
        name: binary_artifacts
        path: build


  packaging-msi:
    runs-on: windows-latest
    needs: [changes, build]
    steps:
      - uses: actions/checkout@v2
        if: ${{ needs.changes.outputs.changed == 'true' }}

      - name: Download built artifacts
        uses: actions/download-artifact@v2
        with:
          name: binary_artifacts
          path: build
        if: ${{ needs.changes.outputs.changed == 'true' }}

      - name: Display structure of downloaded files
        run: ls -R
        if: ${{ needs.changes.outputs.changed == 'true' }}

      - name: Create msi file using candle and light
        run: .\tools\packaging\windows\create_msi.ps1
        if: ${{ needs.changes.outputs.changed == 'true' }}

  packaging-rpm:
    runs-on: ubuntu-latest
    needs: [changes, build]
    steps:
      # Build and archive RPMs into cache.
      - uses: actions/checkout@v2
        if: ${{ needs.changes.outputs.changed == 'true' }}

      - name: restore cached binaries
        uses: actions/cache@v2
        with:
          key: "cached_binaries_${{ github.run_id }}"
          path: build
        if: ${{ needs.changes.outputs.changed == 'true' }}

      - name: Display structure of downloaded files
        run: ls -R
        if: ${{ needs.changes.outputs.changed == 'true' }}

      - name: Build RPM
        run: |
          ARCH=x86_64 DEST=build/packages/linux/amd64 tools/packaging/linux/create_rpm.sh
          ARCH=aarch64 DEST=build/packages/linux/arm64 tools/packaging/linux/create_rpm.sh
        if: ${{ needs.changes.outputs.changed == 'true' }}

  packaging-deb:
    runs-on: ubuntu-latest
    needs: [changes, build]
    steps:
      # Build and archive debs into cache.
      - uses: actions/checkout@v2
        if: ${{ needs.changes.outputs.changed == 'true' }}

      - name: restore cached binaries
        uses: actions/cache@v2
        with:
          key: "cached_binaries_${{ github.run_id }}"
          path: build
        if: ${{ needs.changes.outputs.changed == 'true' }}

      - name: Build Debs
        run: |
          ARCH=amd64 TARGET_SUPPORTED_ARCH=x86_64 DEST=build/packages/debian/amd64 tools/packaging/debian/create_deb.sh
          ARCH=arm64 TARGET_SUPPORTED_ARCH=aarch64 DEST=build/packages/debian/arm64 tools/packaging/debian/create_deb.sh
        if: ${{ needs.changes.outputs.changed == 'true' }}

  get-test-cases:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2.3.1

      - name: Get all the testing suites
        id: set-matrix
        run: | 
          matrix=$(python e2etest/get-testcases.py local_matrix)
          echo "::set-output name=matrix::$matrix"
          
      - name: List testing suites
        run: |
          echo ${{ steps.set-matrix.outputs.matrix }}
          
  run-test-case:
    runs-on: ubuntu-latest
    needs: [changes, get-test-cases, build]
    strategy:
      matrix: ${{ fromJson(needs.get-test-cases.outputs.matrix) }}
    steps:
      - name: Check out testing framework
        uses: actions/checkout@v2
        with:
          repository: 'aws-observability/aws-otel-collector-test-framework'
          path: testing-framework
        if: ${{ needs.changes.outputs.changed == 'true' }}

      - name: Check out Collector
        uses: actions/checkout@v2
        with:
          path: aws-otel-collector
        if: ${{ needs.changes.outputs.changed == 'true' }}

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: '11'
        if: ${{ needs.changes.outputs.changed == 'true' }}

      - name: Set up terraform
        uses: hashicorp/setup-terraform@v1.2.1
        if: ${{ needs.changes.outputs.changed == 'true' }}

      - name: restore cached binaries
        uses: actions/cache@v2
        with:
          key: "cached_binaries_${{ github.run_id }}"
          path: build
        if: ${{ needs.changes.outputs.changed == 'true' }}

      - name: copy binary
        run: cp -R build aws-otel-collector/build
        if: ${{ needs.changes.outputs.changed == 'true' }}

      - name: Run test
        run: | 
          if [[ -f testing-framework/terraform/testcases/${{ matrix.testcase }}/parameters.tfvars ]] ; then opts="-var-file=../testcases/${{ matrix.testcase }}/parameters.tfvars" ; else opts="" ; fi
          cd testing-framework/terraform/mock && terraform init && terraform apply -auto-approve -var="testcase=../testcases/${{ matrix.testcase }}" $opts
        if: ${{ needs.changes.outputs.changed == 'true' }}
